.subtitle{
    color: rgb(140, 138, 138);
}

.icon{
    color: orangered;
    font-size: 2rem;
    margin: 1.5rem 0rem;
    border-radius: 50%;
}

.holder:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.holder p{
    margin: 1.3rem 0rem;
}