.image{
    width: 100%;
    height: 650px;
}

.carousel-caption p{
    color: white;
}

.btn{
    background-color: orangered;
    border: none;
    border-radius: 6px;
    padding: .7rem 3rem;
    color: white;
    font-size: 1rem;
}

.btn:hover{
    border: 2px solid orangered;
    color: orangered;
}

@media screen and (max-width: 575px) {
    .carousel-inner .carousel-item {
        height: 300px;
    }
}